In [114]:
import pandas as pd
import json

In [115]:
file = "/Users/laurasuemitsu/Desktop/DATA_FT_May_2025/Final project/Tourism datasets Kaggle/Worldwide_Travel_Cities_Dataset_(Ratings_Climate).csv"

In [116]:
travel_cities = pd.read_csv(file)

In [117]:
travel_cities.head()

,id,city,country,region,short_description,latitude,longitude,avg_temp_monthly,ideal_durations,budget_level,culture,adventure,nature,beaches,nightlife,cuisine,wellness,urban,seclusion
0,c54acf38-3029-496b-8c7a-8343ad82785c,Milan,Italy,europe,"Chic streets lined with fashion boutiques, his...",45.464194,9.189635,"{""1"":{""avg"":3.7,""max"":7.8,""min"":0.4},""2"":{""avg...","[""Short trip"",""One week""]",Luxury,5,2,2,1,4,5,3,5,2
1,0bd12654-ed64-424e-a044-7bc574bcf078,Yasawa Islands,Fiji,oceania,"Crystal-clear waters, secluded beaches, and vi...",-17.290947,177.125786,"{""1"":{""avg"":28,""max"":30.8,""min"":25.8},""2"":{""av...","[""Long trip"",""One week""]",Luxury,2,4,5,5,2,3,4,1,5
2,73036cda-9134-46fc-a2c6-807782d59dfb,Whistler,Canada,north_america,Snow-capped peaks and lush forests create a se...,50.117190,-122.954302,"{""1"":{""avg"":-2.5,""max"":0.4,""min"":-5.5},""2"":{""a...","[""Short trip"",""Weekend"",""One week""]",Luxury,3,5,5,2,3,3,4,2,4
3,3872c9c0-6b6e-49e1-9743-f46bfe591b86,Guanajuato,Mexico,north_america,Winding cobblestone streets and colorful facad...,20.987700,-101.000000,"{""1"":{""avg"":15.5,""max"":22.8,""min"":8.7},""2"":{""a...","[""Weekend"",""One week"",""Short trip""]",Mid-range,5,3,3,1,3,4,3,4,2
4,e1ebc1b6-8798-422d-847a-22016faff3fd,Surabaya,Indonesia,asia,Bustling streets filled with the aroma of loca...,-7.245972,112.737827,"{""1"":{""avg"":28.1,""max"":32.5,""min"":25.5},""2"":{""...","[""Short trip"",""Weekend""]",Budget,4,3,3,2,3,4,3,4,2

In [118]:
travel_cities.isnull().sum()

id                   0
city                 0
country              0
region               0
short_description    0
latitude             0
longitude            0
avg_temp_monthly     0
ideal_durations      0
budget_level         0
culture              0
adventure            0
nature               0
beaches              0
nightlife            0
cuisine              0
wellness             0
urban                0
seclusion            0
dtype: int64

In [119]:
travel_cities.duplicated().sum()

0

In [120]:
travel_cities["city"].nunique()

559

In [121]:
travel_cities.loc[travel_cities["city"]=='Granada']

,id,city,country,region,short_description,latitude,longitude,avg_temp_monthly,ideal_durations,budget_level,culture,adventure,nature,beaches,nightlife,cuisine,wellness,urban,seclusion
147,3aece1d2-640d-478c-97cb-7b2af24c0d4b,Granada,Nicaragua,north_america,Cobblestone streets lined with colorful coloni...,11.930380,-85.953590,"{""1"":{""avg"":27,""max"":32.7,""min"":22},""2"":{""avg""...","[""Weekend"",""Short trip""]",Budget,4,3,4,2,3,4,3,3,3
513,1a386d6a-e1e0-4c8d-b452-ba6851cd56f6,Granada,Spain,europe,Winding cobblestone streets lead to vibrant pl...,37.173499,-3.599534,"{""1"":{""avg"":7.4,""max"":14.1,""min"":1.9},""2"":{""av...","[""Short trip"",""Weekend"",""One week""]",Mid-range,5,3,3,2,4,5,3,4,2

In [122]:
travel_cities["avg_temp_monthly"].iloc[0]

'{"1":{"avg":3.7,"max":7.8,"min":0.4},"2":{"avg":7.1,"max":12,"min":2.8},"3":{"avg":10.5,"max":15.5,"min":5.5},"4":{"avg":13.8,"max":18.9,"min":8.7},"5":{"avg":17.9,"max":22.5,"min":13.4},"6":{"avg":23.5,"max":28.5,"min":18.1},"7":{"avg":25.8,"max":30.8,"min":20.5},"8":{"avg":25.2,"max":30.4,"min":20.2},"9":{"avg":20.8,"max":26,"min":16.1},"10":{"avg":15.2,"max":19.6,"min":11.5},"11":{"avg":8.8,"max":12.5,"min":5.6},"12":{"avg":4.7,"max":8.2,"min":1.9}}'

In [123]:
# Convert JSON strings to dictionaries
travel_cities["avg_temp_monthly"] = travel_cities["avg_temp_monthly"].apply(json.loads)

# Use json_normalize to flatten the JSON column
temp_monthly = pd.json_normalize(travel_cities["avg_temp_monthly"])

In [124]:
# Concatenate the result with the original DataFrame
travel_cities = pd.concat([travel_cities.drop(columns=["avg_temp_monthly"]), temp_monthly], axis=1)

In [125]:
for n in range(1,13):
    travel_cities.drop(columns=[(str(n)) + ".min", (str(n)) + ".max"], inplace=True)

In [126]:
travel_cities.columns

Index(['id', 'city', 'country', 'region', 'short_description', 'latitude',
       'longitude', 'ideal_durations', 'budget_level', 'culture', 'adventure',
       'nature', 'beaches', 'nightlife', 'cuisine', 'wellness', 'urban',
       'seclusion', '1.avg', '2.avg', '3.avg', '4.avg', '5.avg', '6.avg',
       '7.avg', '8.avg', '9.avg', '10.avg', '11.avg', '12.avg'],
      dtype='object')

In [127]:
travel_cities.head()

,id,city,country,region,short_description,latitude,longitude,ideal_durations,budget_level,culture,...,3.avg,4.avg,5.avg,6.avg,7.avg,8.avg,9.avg,10.avg,11.avg,12.avg
0,c54acf38-3029-496b-8c7a-8343ad82785c,Milan,Italy,europe,"Chic streets lined with fashion boutiques, his...",45.464194,9.189635,"[""Short trip"",""One week""]",Luxury,5,...,10.5,13.8,17.9,23.5,25.8,25.2,20.8,15.2,8.8,4.7
1,0bd12654-ed64-424e-a044-7bc574bcf078,Yasawa Islands,Fiji,oceania,"Crystal-clear waters, secluded beaches, and vi...",-17.290947,177.125786,"[""Long trip"",""One week""]",Luxury,2,...,26.9,28.0,27.4,26.2,26.1,25.5,26.3,26.0,27.1,28.2
2,73036cda-9134-46fc-a2c6-807782d59dfb,Whistler,Canada,north_america,Snow-capped peaks and lush forests create a se...,50.117190,-122.954302,"[""Short trip"",""Weekend"",""One week""]",Luxury,3,...,0.2,4.6,9.0,14.1,18.2,17.8,14.5,7.6,1.8,-1.8
3,3872c9c0-6b6e-49e1-9743-f46bfe591b86,Guanajuato,Mexico,north_america,Winding cobblestone streets and colorful facad...,20.987700,-101.000000,"[""Weekend"",""One week"",""Short trip""]",Mid-range,5,...,20.3,23.1,23.3,22.2,20.7,20.6,19.9,19.0,17.7,14.9
4,e1ebc1b6-8798-422d-847a-22016faff3fd,Surabaya,Indonesia,asia,Bustling streets filled with the aroma of loca...,-7.245972,112.737827,"[""Short trip"",""Weekend""]",Budget,4,...,28.3,29.0,29.3,28.7,28.2,28.4,29.2,29.8,29.6,28.7

In [128]:
travel_cities["ideal_durations"].unique()

array(['["Short trip","One week"]', '["Long trip","One week"]',
       '["Short trip","Weekend","One week"]',
       '["Weekend","One week","Short trip"]', '["Short trip","Weekend"]',
       '["Short trip","Weekend","Day trip"]', '["Weekend","Short trip"]',
       '["One week","Short trip"]',
       '["Long trip","One week","Short trip"]',
       '["Short trip","One week","Weekend"]',
       '["One week","Short trip","Weekend"]',
       '["Day trip","Weekend","Short trip"]',
       '["Short trip","One week","Long trip"]',
       '["Weekend","Short trip","Day trip"]', '["Day trip","Weekend"]',
       '["Weekend","Day trip"]', '["One week","Long trip"]',
       '["Long trip","Short trip","One week"]',
       '["Short trip","Long trip","One week"]',
       '["Weekend","Day trip","Short trip"]',
       '["One week","Weekend","Short trip"]'], dtype=object)

In [129]:
import ast

travel_cities["ideal_durations"] = travel_cities["ideal_durations"].apply(ast.literal_eval)

In [130]:
travel_cities.head()

,id,city,country,region,short_description,latitude,longitude,ideal_durations,budget_level,culture,...,3.avg,4.avg,5.avg,6.avg,7.avg,8.avg,9.avg,10.avg,11.avg,12.avg
0,c54acf38-3029-496b-8c7a-8343ad82785c,Milan,Italy,europe,"Chic streets lined with fashion boutiques, his...",45.464194,9.189635,"[Short trip, One week]",Luxury,5,...,10.5,13.8,17.9,23.5,25.8,25.2,20.8,15.2,8.8,4.7
1,0bd12654-ed64-424e-a044-7bc574bcf078,Yasawa Islands,Fiji,oceania,"Crystal-clear waters, secluded beaches, and vi...",-17.290947,177.125786,"[Long trip, One week]",Luxury,2,...,26.9,28.0,27.4,26.2,26.1,25.5,26.3,26.0,27.1,28.2
2,73036cda-9134-46fc-a2c6-807782d59dfb,Whistler,Canada,north_america,Snow-capped peaks and lush forests create a se...,50.117190,-122.954302,"[Short trip, Weekend, One week]",Luxury,3,...,0.2,4.6,9.0,14.1,18.2,17.8,14.5,7.6,1.8,-1.8
3,3872c9c0-6b6e-49e1-9743-f46bfe591b86,Guanajuato,Mexico,north_america,Winding cobblestone streets and colorful facad...,20.987700,-101.000000,"[Weekend, One week, Short trip]",Mid-range,5,...,20.3,23.1,23.3,22.2,20.7,20.6,19.9,19.0,17.7,14.9
4,e1ebc1b6-8798-422d-847a-22016faff3fd,Surabaya,Indonesia,asia,Bustling streets filled with the aroma of loca...,-7.245972,112.737827,"[Short trip, Weekend]",Budget,4,...,28.3,29.0,29.3,28.7,28.2,28.4,29.2,29.8,29.6,28.7

In [131]:
travel_cities["ideal_durations"] = travel_cities["ideal_durations"].apply(lambda lst: ' '.join(item.strip() for item in lst))

In [132]:
travel_cities.head()

,id,city,country,region,short_description,latitude,longitude,ideal_durations,budget_level,culture,...,3.avg,4.avg,5.avg,6.avg,7.avg,8.avg,9.avg,10.avg,11.avg,12.avg
0,c54acf38-3029-496b-8c7a-8343ad82785c,Milan,Italy,europe,"Chic streets lined with fashion boutiques, his...",45.464194,9.189635,Short trip One week,Luxury,5,...,10.5,13.8,17.9,23.5,25.8,25.2,20.8,15.2,8.8,4.7
1,0bd12654-ed64-424e-a044-7bc574bcf078,Yasawa Islands,Fiji,oceania,"Crystal-clear waters, secluded beaches, and vi...",-17.290947,177.125786,Long trip One week,Luxury,2,...,26.9,28.0,27.4,26.2,26.1,25.5,26.3,26.0,27.1,28.2
2,73036cda-9134-46fc-a2c6-807782d59dfb,Whistler,Canada,north_america,Snow-capped peaks and lush forests create a se...,50.117190,-122.954302,Short trip Weekend One week,Luxury,3,...,0.2,4.6,9.0,14.1,18.2,17.8,14.5,7.6,1.8,-1.8
3,3872c9c0-6b6e-49e1-9743-f46bfe591b86,Guanajuato,Mexico,north_america,Winding cobblestone streets and colorful facad...,20.987700,-101.000000,Weekend One week Short trip,Mid-range,5,...,20.3,23.1,23.3,22.2,20.7,20.6,19.9,19.0,17.7,14.9
4,e1ebc1b6-8798-422d-847a-22016faff3fd,Surabaya,Indonesia,asia,Bustling streets filled with the aroma of loca...,-7.245972,112.737827,Short trip Weekend,Budget,4,...,28.3,29.0,29.3,28.7,28.2,28.4,29.2,29.8,29.6,28.7

## *Duration filter*

In [133]:
travel_cities["ideal_durations"] = [duration.lower() for duration in travel_cities["ideal_durations"].values]

### **Asking input for trip duration:**

In [134]:
duration = input("How long do you want your trip to be: weekend, short trip, one week or long trip?").lower()
if duration in ("weekend", "short trip", "one week", "long trip"):
    print(duration)
else:
    while duration not in ("weekend", "short trip", "one week", "long trip"):
        duration = input("Please enter one of the following values: weekend, short trip, one week or long trip.").lower()
    else:
        print(duration)

long trip

### **Filtering cities:**

In [135]:
filtered_cities = [city_name for city_name, durations in zip(travel_cities["city"], travel_cities["ideal_durations"]) if duration in durations]
len(filtered_cities)

53

### **Filtered dataframe:**

In [136]:
travel_cities_duration = travel_cities.loc[travel_cities["ideal_durations"].str.contains(duration)]

In [137]:
travel_cities_duration.head()

,id,city,country,region,short_description,latitude,longitude,ideal_durations,budget_level,culture,...,3.avg,4.avg,5.avg,6.avg,7.avg,8.avg,9.avg,10.avg,11.avg,12.avg
1,0bd12654-ed64-424e-a044-7bc574bcf078,Yasawa Islands,Fiji,oceania,"Crystal-clear waters, secluded beaches, and vi...",-17.290947,177.125786,long trip one week,Luxury,2,...,26.9,28.0,27.4,26.2,26.1,25.5,26.3,26.0,27.1,28.2
17,8755d625-7efa-4e92-aed9-cb2386083a44,New York,United States,north_america,"The city buzzes with energy, offering iconic s...",40.712728,-74.006015,long trip one week short trip,Luxury,5,...,6.6,12.0,17.5,22.5,26.1,25.2,21.7,15.6,9.3,4.4
38,4574d558-f5fa-4e6e-bead-e21b8cf0edcc,Raja Ampat,Indonesia,asia,Crystal-clear waters teeming with vibrant mari...,-0.712555,130.303447,long trip one week,Luxury,2,...,27.6,27.7,27.5,26.8,26.4,26.5,26.7,27.2,27.5,27.6
58,75c6f7c9-5c87-464a-9c28-c91ecd55da98,Banff,Canada,north_america,"Majestic mountains, crystal-clear lakes, and f...",51.175076,-115.572077,long trip one week short trip,Luxury,3,...,-2.5,2.8,8.1,12.3,15.8,14.7,9.8,3.5,-3.9,-8.6
64,459b1d00-2b6e-4158-afe5-e091350990fe,Kathmandu,Nepal,asia,Nestled in a valley surrounded by towering pea...,27.708317,85.320582,short trip one week long trip,Budget,5,...,16.7,20.2,21.8,24.0,23.7,23.6,23.0,20.1,15.3,11.3

## *Budget filter*

In [138]:
travel_cities["budget_level"] = [budget.lower() for budget in travel_cities["budget_level"].values]

In [139]:
travel_cities["budget_level"].unique()

array(['luxury', 'mid-range', 'budget'], dtype=object)

In [140]:
# Changing budget for economic:

travel_cities["budget_level"] = travel_cities["budget_level"].replace({"budget": "economic"})

In [141]:
travel_cities["budget_level"].unique()

array(['luxury', 'mid-range', 'economic'], dtype=object)

### **Asking input for trip budget:**

In [142]:
budget = input("What is your budget for your trip: luxury, mid-range or economic?").lower()
if budget in ('luxury', 'mid-range', 'economic'):
    print(budget)
else:
    while budget not in ('luxury', 'mid-range', 'economic'):
        budget = input("Please enter one of the following values: luxury, mid-range or economic.")
    else:
        print(budget)

mid-range

### **Filtering cities:**

In [143]:
filtered_cities_2 = [city_name for city_name, budgets in zip(travel_cities["city"], travel_cities["budget_level"]) if budget in budgets]

In [144]:
filtered_cities_2

['Guanajuato',
 'Windhoek',
 'Kingston',
 'Nafplio',
 'Heidelberg',
 'Hobart',
 'Nagasaki',
 'Utrecht',
 'Malmö',
 'Amsterdam',
 'Raleigh',
 'Bruges',
 'Seoul',
 'Ankara',
 'Tampa',
 'Dublin',
 'Washington',
 'Livingstone',
 'Kraków',
 'Petra',
 'Athens',
 'Malé',
 'Austin',
 'Pago Pago',
 'Luanda',
 'New Orleans',
 'Melbourne',
 'Puebla',
 'Richmond',
 'Bridgetown',
 'Oaxaca City',
 'San Sebastián',
 'Sedona',
 'Rio de Janeiro',
 'Curitiba',
 'Toronto',
 'Lucca',
 'Edmonton',
 'Barcelona',
 'Maputo',
 'Santiago de Chile',
 'Shanghai',
 'Auckland',
 'Québec City',
 'Bogotá',
 'Avarua',
 'Izmir',
 'Cartagena',
 'Dubrovnik',
 'Bocas del Toro',
 'Santo Domingo',
 'Charlotte',
 'Marseille',
 'Malabo',
 'San Marino',
 'Berlin',
 'Helsinki',
 'Warsaw',
 'Verona',
 'Annecy',
 'Fraser Island',
 'Dakar',
 'Wadi Rum',
 'Munich',
 'Freiburg',
 'Piran',
 'Valletta',
 'Thessaloniki',
 'Jeju Island',
 'Valencia',
 'Budapest',
 'Rome',
 'Taipei',
 'Palermo',
 'Sicily',
 'Amman',
 'Nairobi',
 'Panama City',
 'Fukuoka',
 'Mexico City',
 'Astana',
 'Oaxaca',
 'Port Louis',
 'Salalah',
 'Pretoria',
 'Monterrey',
 'Kotor',
 'Krakow',
 'Maastricht',
 'Christchurch',
 'Gotland',
 'St Ives',
 'San Juan',
 'Salt Lake City',
 'Catania',
 'Porto',
 'Azores',
 'Laval',
 'Saint-Denis',
 'Puerto Vallarta',
 'Cape Town',
 'Castries',
 'São Tomé',
 'Madrid',
 'Nantes',
 'Ljubljana',
 'Chengdu',
 'Menorca',
 'Johannesburg',
 'Busan',
 'Mumbai',
 'Istanbul',
 'Seville',
 'Belfast',
 'Zanzibar Town',
 'Port of Spain',
 'Muscat',
 'Gdansk',
 'Rotorua',
 'Christiansted',
 'Houston',
 'San Diego',
 'Nashville',
 'Cleveland',
 'Ronda',
 'Rochester',
 'Namibia',
 'Memphis',
 'Tulum',
 'Kuala Lumpur',
 'Cornwall',
 'Valdivia',
 'Salta',
 'Split',
 'Florence',
 'Philadelphia',
 'Bordeaux',
 'Strasbourg',
 "St. George's",
 'Crete',
 'Baltimore',
 'Taormina',
 'Takayama',
 'Phoenix',
 'Guadalajara',
 'Anchorage',
 'Wellington',
 'San Pedro de Atacama',
 'Madeira',
 'Brisbane',
 'Cesky Krumlov',
 'Basseterre',
 'Honiara',
 'Siena',
 'La Palma',
 'Ghent',
 'Sao Paulo',
 'Monteverde',
 'Nukuʻalofa',
 'Birmingham',
 'Tuscany',
 'Charlottetown',
 'St. Louis',
 'Detroit',
 'Suzhou',
 'Sardinia',
 'Port Vila',
 'Mombasa',
 'Nara',
 'Buenos Aires',
 'Córdoba',
 'Hualien',
 'Vienna',
 'Baku',
 'Salvador da Bahia',
 'Galway',
 'Calgary',
 'Halifax',
 'Sal',
 'Bath',
 'Dallas',
 'Hallstatt',
 'Nicosia',
 'San José',
 'Carcassonne',
 'Lagos',
 'Tallinn',
 'Puglia',
 'Biarritz',
 'Libreville',
 'Sintra',
 'Hvar',
 'Rostock',
 'Zakynthos',
 'Naples',
 'Sapporo',
 'Almaty',
 'Riga',
 'Portland',
 'Eindhoven',
 'Port Moresby',
 'Lisbon',
 'Brazzaville',
 'Kigali',
 'Apia',
 'Gorée Island',
 'Durban',
 'Bled',
 'Bilbao',
 'Asturias',
 'Minneapolis',
 'Denver',
 'Glasgow',
 'Ushuaia',
 'Tucson',
 'Pittsburgh',
 'Adelaide',
 'Manama',
 'Montevideo',
 'Mendoza',
 'Innsbruck',
 'Washington DC',
 'Brussels',
 'Ottawa',
 'Praia',
 'Harbin',
 'Prague',
 'Beijing',
 'Rijeka',
 'Giza',
 'Rennes',
 'Lyon',
 'Carcassone',
 'Hamburg',
 'Lübeck',
 'Ajaccio',
 'Tanna Island',
 'York',
 'Matera',
 'Hiroshima',
 'Edinburgh',
 'Algarve',
 'Zanzibar',
 'Atlanta',
 'Savannah',
 'Montreal',
 'Perth',
 'Cardiff',
 'Orlando',
 'Keswick',
 'Bologna',
 'Isle of Skye',
 'Guimarães',
 'Macau',
 'Zagreb',
 'Suva',
 'Toulouse',
 'Frankfurt',
 'Cayenne',
 'Launceston',
 'Valparaíso',
 'Colmar',
 'Bratislava',
 'Belize City',
 'Punta del Este',
 'Cork',
 'Vladivostok',
 'Murmansk',
 'Moscow',
 'St Petersburg',
 'Fort Lauderdale',
 'Gold Coast',
 'Rarotonga',
 'Playa del Carmen',
 'Sharm El Sheikh',
 'Salzburg',
 'Turin',
 'Goa',
 'Islamabad',
 'Fortaleza',
 'Antofagasta',
 'Bariloche',
 'Quebec City',
 'Zion National Park',
 'Espiritu Santo',
 'Kota Kinabalu',
 'Antalya',
 'Cappadocia',
 'Byron Bay',
 'Montego Bay',
 'Acapulco',
 'Manuel Antonio National Park',
 'Lautoka',
 'Nadi',
 'Vilamoura',
 'Cologne',
 'Pisa',
 'Lima',
 'Iguazu Falls',
 'Cancun',
 'San Antonio',
 'Malaga',
 'Medellín',
 'Granada',
 'Linz',
 'Leipzig',
 'Braga',
 'Manaus',
 'San Andrés',
 'Búzios',
 'Florianópolis',
 'San Carlos de Bariloche',
 'Niagara Falls',
 'Darwin',
 'Antwerp',
 'Nuremberg',
 'Funchal',
 'Rosario',
 'Los Cabos',
 'Charleston',
 'Cozumel',
 'Lille',
 'Plitvice Lakes',
 'Taupo',
 'Yellowstone National Park',
 'Dunedin',
 'Kangaroo Island',
 'Bay of Islands',
 'Aarhus',
 'Vancouver Island',
 'Savusavu',
 'Bristol',
 'Rovaniemi',
 'Viña del Mar',
 'Nelson',
 'Maun',
 'Gothenburg',
 'Manchester',
 'Copenhagen']

In [145]:
len(filtered_cities_2)

339

### **Filtered df:**

In [148]:
travel_cities_budget = travel_cities[travel_cities["budget_level"] == budget]

In [149]:
travel_cities_budget

,id,city,country,region,short_description,latitude,longitude,ideal_durations,budget_level,culture,...,3.avg,4.avg,5.avg,6.avg,7.avg,8.avg,9.avg,10.avg,11.avg,12.avg
3,3872c9c0-6b6e-49e1-9743-f46bfe591b86,Guanajuato,Mexico,north_america,Winding cobblestone streets and colorful facad...,20.987700,-101.000000,weekend one week short trip,mid-range,5,...,20.3,23.1,23.3,22.2,20.7,20.6,19.9,19.0,17.7,14.9
6,20f80ed8-ce7f-43ad-a34d-a0cb156f5d4e,Windhoek,Namibia,africa,"A blend of modernity and tradition, with bustl...",-22.533560,17.045478,short trip weekend one week,mid-range,3,...,22.5,20.5,18.3,14.8,15.0,17.9,21.8,24.3,24.9,24.6
7,0dae5759-947a-40c9-aaea-e2e647f1061e,Kingston,Jamaica,north_america,"Vibrant streets pulse with reggae rhythms, whi...",17.971215,-76.792813,short trip one week,mid-range,4,...,27.3,27.9,28.7,29.5,29.8,29.8,29.6,28.8,28.0,27.6
8,4e2d3678-bbb3-428e-a1df-0ba956ef3c77,Nafplio,Greece,europe,"Charming cobblestone streets, vibrant bougainv...",37.565923,22.806878,short trip weekend day trip,mid-range,4,...,11.4,15.2,20.3,25.5,28.3,27.9,23.6,18.5,13.7,9.5
10,d5bca023-e7ef-45a6-bbf3-f27313ce544d,Heidelberg,Germany,europe,Cobblestone streets lined with charming old bu...,49.409358,8.694724,short trip weekend,mid-range,5,...,7.1,9.2,14.8,20.3,20.8,21.0,17.1,12.7,6.6,4.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
554,f38b9348-e581-4de5-bafa-1efb5c28e458,Nelson,New Zealand,oceania,Sun-drenched coastal charm with vibrant market...,-41.271085,173.283676,one week short trip,mid-range,3,...,16.6,14.6,11.8,9.8,8.8,9.3,11.2,13.1,15.6,18.1
555,778d28df-a4fa-4328-896e-4a9f80216fda,Maun,Botswana,africa,"A gateway to the Okavango Delta, offering a se...",-19.986095,23.422435,one week short trip,mid-range,3,...,25.3,23.6,20.7,17.7,17.5,21.4,25.3,29.3,28.7,27.5
556,44fb18eb-2641-46ab-b3fa-df6870ba3c74,Gothenburg,Sweden,europe,"A charming city with picturesque canals, lush ...",57.707233,11.967017,weekend one week short trip,mid-range,4,...,3.7,7.5,12.1,16.5,17.4,17.4,14.5,9.7,5.5,2.9
557,8c8c7203-2a45-44ba-9fb2-b5158104375e,Manchester,United Kingdom,europe,"Industrial heritage meets modern creativity, w...",53.479489,-2.245115,weekend one week short trip,mid-range,4,...,6.4,8.9,12.4,15.3,16.6,16.3,14.1,11.1,7.5,6.2
558,ba72b976-10f9-4415-a818-32cf17d8e649,Copenhagen,Denmark,europe,"Charming canals, vibrant neighborhoods, and a ...",55.686724,12.570072,one week short trip weekend,mid-range,5,...,5.3,7.8,12.8,17.3,18.1,18.4,15.4,10.9,6.8,4.4

## *Month filter*

In [ ]:
try:
    month = int(input("In which month of the year do you want to go on your trip? Please enter a number between 1 and 12."))
    if month in range(1,13):
        print(month)
    else:
        while month not in range(1,13):
            month = int(input("Please enter a number between 1 and 12."))
        else:
            print(month)
except ValueError:
    month = int(input("Please enter a valid number between 1 and 12."))
    while month not in range(1,13):
        month = int(input("Please enter a number between 1 and 12."))
    else:
        print(month)

8

### **Reducing dataframe to contain only the specific month of the trip:**

In [150]:
months = list(range(1,13))
no_month_trip = [x for x in months if x != month]

In [151]:
no_month_trip
travel_cities_month = travel_cities_budget.drop(columns=[str(x)+".avg" for x in no_month_trip])

In [152]:
travel_cities_month.head()

,id,city,country,region,short_description,latitude,longitude,ideal_durations,budget_level,culture,adventure,nature,beaches,nightlife,cuisine,wellness,urban,seclusion,8.avg
3,3872c9c0-6b6e-49e1-9743-f46bfe591b86,Guanajuato,Mexico,north_america,Winding cobblestone streets and colorful facad...,20.987700,-101.000000,weekend one week short trip,mid-range,5,3,3,1,3,4,3,4,2,20.6
6,20f80ed8-ce7f-43ad-a34d-a0cb156f5d4e,Windhoek,Namibia,africa,"A blend of modernity and tradition, with bustl...",-22.533560,17.045478,short trip weekend one week,mid-range,3,4,4,1,3,3,3,3,4,17.9
7,0dae5759-947a-40c9-aaea-e2e647f1061e,Kingston,Jamaica,north_america,"Vibrant streets pulse with reggae rhythms, whi...",17.971215,-76.792813,short trip one week,mid-range,4,3,3,3,4,4,3,3,2,29.8
8,4e2d3678-bbb3-428e-a1df-0ba956ef3c77,Nafplio,Greece,europe,"Charming cobblestone streets, vibrant bougainv...",37.565923,22.806878,short trip weekend day trip,mid-range,4,3,4,3,3,4,3,3,4,27.9
10,d5bca023-e7ef-45a6-bbf3-f27313ce544d,Heidelberg,Germany,europe,Cobblestone streets lined with charming old bu...,49.409358,8.694724,short trip weekend,mid-range,5,2,4,1,3,4,3,3,4,21.0

## *Exploring center of interests columns:*

Seclusion column: A numerical rating from 1 to 5 indicating the availability of peaceful spots and opportunities to get away from crowds

In [ ]:
interests = ["urban", "culture", "adventure", "nature", "beaches", "nightlife", "cuisine", "wellness", "seclusion"]
unique_values = [travel_cities_month[x].unique() for x in interests]

unique_values # numeric ratings of each interest center

[array([], dtype=int64),
 array([], dtype=int64),
 array([], dtype=int64),
 array([], dtype=int64),
 array([], dtype=int64),
 array([], dtype=int64),
 array([], dtype=int64),
 array([], dtype=int64),
 array([], dtype=int64)]

### **Main interest input:**

In [171]:
interest_input = input("What is your main interest for your trip? Select one among: culture, adventure, nature, beaches, nightlife, cuisine, wellness, urban and seclusion.").lower()
if interest_input in interests:
    print(interest_input)
else:
    while interest_input not in interests:
        interest_input = input("Please select one interest among: culture, adventure, nature, beaches, nightlife, cuisine, wellness, urban and seclusion.").lower()
    else:
        print(interest_input)

culture

In [172]:
interests = ["urban", "culture", "adventure", "nature", "beaches", "nightlife", "cuisine", "wellness", "seclusion"]
print(interest_input)
print(type(interest_input))
no_interests = [x for x in interests if x != interest_input]
print(no_interests)
travel_cities_interests = travel_cities_month.drop(columns=[x for x in no_interests])

culture
<class 'str'>
['urban', 'adventure', 'nature', 'beaches', 'nightlife', 'cuisine', 'wellness', 'seclusion']

In [174]:
travel_cities_final = travel_cities_interests[travel_cities_interests[interest_input] > 3]

In [176]:
travel_cities_final.head()

,id,city,country,region,short_description,latitude,longitude,ideal_durations,budget_level,culture,8.avg
3,3872c9c0-6b6e-49e1-9743-f46bfe591b86,Guanajuato,Mexico,north_america,Winding cobblestone streets and colorful facad...,20.987700,-101.000000,weekend one week short trip,mid-range,5,20.6
7,0dae5759-947a-40c9-aaea-e2e647f1061e,Kingston,Jamaica,north_america,"Vibrant streets pulse with reggae rhythms, whi...",17.971215,-76.792813,short trip one week,mid-range,4,29.8
8,4e2d3678-bbb3-428e-a1df-0ba956ef3c77,Nafplio,Greece,europe,"Charming cobblestone streets, vibrant bougainv...",37.565923,22.806878,short trip weekend day trip,mid-range,4,27.9
10,d5bca023-e7ef-45a6-bbf3-f27313ce544d,Heidelberg,Germany,europe,Cobblestone streets lined with charming old bu...,49.409358,8.694724,short trip weekend,mid-range,5,21.0
11,a881b470-86d0-4ce0-913b-1d453f68466e,Hobart,Australia,oceania,Charming waterfront views and a laid-back vibe...,-42.882509,147.328123,weekend one week short trip,mid-range,4,9.2

In [180]:
filtered_cities_3 = [city_name for city_name, interest_input in zip(travel_cities_final["city"], travel_cities_final[interest_input])]

In [181]:
filtered_cities_3

['Guanajuato',
 'Kingston',
 'Nafplio',
 'Heidelberg',
 'Hobart',
 'Nagasaki',
 'Utrecht',
 'Malmö',
 'Amsterdam',
 'Raleigh',
 'Bruges',
 'Seoul',
 'Ankara',
 'Dublin',
 'Washington',
 'Kraków',
 'Petra',
 'Athens',
 'Austin',
 'New Orleans',
 'Melbourne',
 'Puebla',
 'Richmond',
 'Oaxaca City',
 'San Sebastián',
 'Rio de Janeiro',
 'Curitiba',
 'Toronto',
 'Lucca',
 'Edmonton',
 'Barcelona',
 'Santiago de Chile',
 'Shanghai',
 'Québec City',
 'Bogotá',
 'Izmir',
 'Cartagena',
 'Dubrovnik',
 'Santo Domingo',
 'Marseille',
 'San Marino',
 'Berlin',
 'Helsinki',
 'Warsaw',
 'Verona',
 'Annecy',
 'Dakar',
 'Munich',
 'Freiburg',
 'Piran',
 'Valletta',
 'Thessaloniki',
 'Valencia',
 'Budapest',
 'Rome',
 'Taipei',
 'Palermo',
 'Sicily',
 'Amman',
 'Nairobi',
 'Panama City',
 'Fukuoka',
 'Mexico City',
 'Oaxaca',
 'Port Louis',
 'Pretoria',
 'Monterrey',
 'Kotor',
 'Krakow',
 'Maastricht',
 'Gotland',
 'St Ives',
 'San Juan',
 'Catania',
 'Porto',
 'Saint-Denis',
 'Cape Town',
 'Madrid',
 'Nantes',
 'Ljubljana',
 'Chengdu',
 'Johannesburg',
 'Busan',
 'Mumbai',
 'Istanbul',
 'Seville',
 'Belfast',
 'Zanzibar Town',
 'Port of Spain',
 'Muscat',
 'Gdansk',
 'Rotorua',
 'Houston',
 'San Diego',
 'Nashville',
 'Cleveland',
 'Ronda',
 'Memphis',
 'Kuala Lumpur',
 'Salta',
 'Split',
 'Florence',
 'Philadelphia',
 'Bordeaux',
 'Strasbourg',
 'Crete',
 'Baltimore',
 'Taormina',
 'Takayama',
 'Guadalajara',
 'Wellington',
 'Brisbane',
 'Cesky Krumlov',
 'Siena',
 'Ghent',
 'Sao Paulo',
 'Birmingham',
 'Tuscany',
 'Charlottetown',
 'St. Louis',
 'Detroit',
 'Suzhou',
 'Mombasa',
 'Nara',
 'Buenos Aires',
 'Córdoba',
 'Vienna',
 'Baku',
 'Salvador da Bahia',
 'Galway',
 'Calgary',
 'Halifax',
 'Bath',
 'Dallas',
 'Hallstatt',
 'Nicosia',
 'Carcassonne',
 'Tallinn',
 'Puglia',
 'Sintra',
 'Rostock',
 'Naples',
 'Sapporo',
 'Almaty',
 'Riga',
 'Portland',
 'Lisbon',
 'Kigali',
 'Apia',
 'Gorée Island',
 'Bilbao',
 'Asturias',
 'Minneapolis',
 'Denver',
 'Glasgow',
 'Tucson',
 'Pittsburgh',
 'Adelaide',
 'Manama',
 'Montevideo',
 'Innsbruck',
 'Washington DC',
 'Brussels',
 'Ottawa',
 'Harbin',
 'Prague',
 'Beijing',
 'Rijeka',
 'Giza',
 'Rennes',
 'Lyon',
 'Carcassone',
 'Hamburg',
 'Lübeck',
 'Ajaccio',
 'Tanna Island',
 'York',
 'Matera',
 'Hiroshima',
 'Edinburgh',
 'Zanzibar',
 'Atlanta',
 'Savannah',
 'Montreal',
 'Cardiff',
 'Bologna',
 'Guimarães',
 'Macau',
 'Zagreb',
 'Toulouse',
 'Frankfurt',
 'Valparaíso',
 'Colmar',
 'Bratislava',
 'Cork',
 'Vladivostok',
 'Moscow',
 'St Petersburg',
 'Salzburg',
 'Turin',
 'Goa',
 'Islamabad',
 'Quebec City',
 'Antalya',
 'Cappadocia',
 'Cologne',
 'Pisa',
 'Lima',
 'San Antonio',
 'Malaga',
 'Medellín',
 'Granada',
 'Linz',
 'Leipzig',
 'Braga',
 'Manaus',
 'Antwerp',
 'Nuremberg',
 'Funchal',
 'Rosario',
 'Charleston',
 'Lille',
 'Dunedin',
 'Aarhus',
 'Bristol',
 'Gothenburg',
 'Manchester',
 'Copenhagen']

In [182]:
len(filtered_cities_3)

228