In [1]:
import pandas as pd
import json
import ast
import requests

In [50]:
import functions_2

import importlib

importlib.reload(functions_2)

In [51]:
from functions_2 import wrangling_duration, wrangling_budget, wrangling, remove_months, filter_df, get_airport_code, departuring_details, check_airport, get_df, choose_flight

In [6]:
file_1 = "/Users/laurasuemitsu/Desktop/DATA_FT_May_2025/Final project/Tourism datasets Kaggle/Worldwide_Travel_Cities_Dataset_(Ratings_Climate).csv"

In [7]:
travel_df = pd.read_csv(file_1)

In [8]:
travel_df = wrangling(travel_df)

In [10]:
file_2 = "/Users/laurasuemitsu/Desktop/DATA_FT_May_2025/Final project/Notebooks/airports_codes.csv"

In [11]:
airports = pd.read_csv(file_2)

In [12]:
airports = airports.drop(columns="Unnamed: 0")

## Welcome! I'm Django, your new companion and tripadvisor.
### Run the cell below and let me help you choose your next vacation destination and also search for a departuring flight.

In [52]:
message, cities_df = filter_df(travel_df)
print(message)
display(cities_df)

departure_code, arrival_code, dep_date, ret_date = departuring_details()
print(departure_code, " - ", arrival_code, " - ", dep_date, " - ", ret_date)

API_result = check_airport(departure_code, arrival_code, dep_date)
flights = get_df(API_result)

if flights is None or flights.empty:
    print("Please restart the app.")
else:
    print("Here are the top available flights for your departing trip:")
    display(flights)
    choose_flight()

Here are the top 5 cities where you could go according to your preferences:

,city,country,short_description,avg_temperature(ºC)
91,Fraser Island,Australia,"Endless stretches of sandy beaches, lush rainforests, and crystal-clear freshwater lakes create a serene escape filled with natural wonders and tranquility.",22.0
29,Livingstone,Zambia,"Feel the rush of cascading waterfalls and the thrill of wildlife encounters, all amidst a backdrop of vibrant sunsets and warm local hospitality.",28.0
209,Namibia,Namibia,"Vast desert landscapes meet rugged coastlines, creating a sense of awe and solitude, while vibrant wildlife offers thrilling encounters in nature.",24.3
353,Ushuaia,Argentina,"A windswept frontier town with dramatic landscapes, where the end of the world feels both mysterious and beautifully remote.",6.4
478,Bariloche,Argentina,Lakeside vistas and snow-capped mountains create a serene backdrop for outdoor adventures and cozy evenings in charming alpine-style lodges.,8.0

CDG  -  AEP  -  2025-10-15  -  2025-10-22
Here are the top available flights for your departing trip:

,price,airlineNames,departureAirportCode,departureDate,departureTime,arrivalAirportCode,arrivalDate,arrivalTime,duration,stops,transferAirports
1,689,[Avianca],CDG,2025-10-15,08:45,AEP,2025-10-16,05:40,1555,1,None
2,897,"[Lufthansa, Avianca]",CDG,2025-10-15,10:40,AEP,2025-10-16,05:40,1440,1,None
3,942,[LATAM],CDG,2025-10-15,13:00,AEP,2025-10-16,12:00,1680,1,None
4,983,[LATAM],CDG,2025-10-15,13:00,AEP,2025-10-16,10:00,1560,1,None

Thank you! Have a great trip.