In [1]:
import pandas as pd
import json
import ast

In [2]:
file = "/Users/laurasuemitsu/Desktop/DATA_FT_May_2025/Final project/Tourism datasets Kaggle/Worldwide_Travel_Cities_Dataset_(Ratings_Climate).csv"

In [3]:
travel_df = pd.read_csv(file)

In [4]:
def wrangling_duration(df):
    df["avg_temp_monthly"] = df["avg_temp_monthly"].apply(json.loads)
    temp_monthly = pd.json_normalize(df["avg_temp_monthly"])
    df = pd.concat([df.drop(columns=["avg_temp_monthly"]), temp_monthly], axis=1)
    
    for n in range(1,13):
        df.drop(columns=[(str(n)) + ".min", (str(n)) + ".max"], inplace=True)

    df["ideal_durations"] = df["ideal_durations"].apply(ast.literal_eval)

    df["ideal_durations"] = df["ideal_durations"].apply(lambda lst: ' '.join(item.strip() for item in lst))

    df["ideal_durations"] = [duration.lower() for duration in df["ideal_durations"].values]
    return df

In [5]:
travel_df = wrangling_duration(travel_df)

## *Duration filter*

### **Asking input for trip duration:**

In [6]:
duration = input("How long do you want your trip to be: weekend, short trip, one week or long trip?").lower()
if duration in ("weekend", "short trip", "one week", "long trip"):
    print(duration)
else:
    while duration not in ("weekend", "short trip", "one week", "long trip"):
        duration = input("Please enter one of the following values: weekend, short trip, one week or long trip.").lower()
    else:
        print(duration)

weekend

### **Filtering cities:**

In [7]:
filtered_cities_1 = [city_name for city_name, durations in zip(travel_df["city"], travel_df["ideal_durations"]) if duration in durations]
len(filtered_cities_1)

421

### **Filtered dataframe:**

In [8]:
travel_df = travel_df.loc[travel_df["ideal_durations"].str.contains(duration)]

In [9]:
travel_df.head()

,id,city,country,region,short_description,latitude,longitude,ideal_durations,budget_level,culture,...,3.avg,4.avg,5.avg,6.avg,7.avg,8.avg,9.avg,10.avg,11.avg,12.avg
2,73036cda-9134-46fc-a2c6-807782d59dfb,Whistler,Canada,north_america,Snow-capped peaks and lush forests create a se...,50.117190,-122.954302,short trip weekend one week,Luxury,3,...,0.2,4.6,9.0,14.1,18.2,17.8,14.5,7.6,1.8,-1.8
3,3872c9c0-6b6e-49e1-9743-f46bfe591b86,Guanajuato,Mexico,north_america,Winding cobblestone streets and colorful facad...,20.987700,-101.000000,weekend one week short trip,Mid-range,5,...,20.3,23.1,23.3,22.2,20.7,20.6,19.9,19.0,17.7,14.9
4,e1ebc1b6-8798-422d-847a-22016faff3fd,Surabaya,Indonesia,asia,Bustling streets filled with the aroma of loca...,-7.245972,112.737827,short trip weekend,Budget,4,...,28.3,29.0,29.3,28.7,28.2,28.4,29.2,29.8,29.6,28.7
6,20f80ed8-ce7f-43ad-a34d-a0cb156f5d4e,Windhoek,Namibia,africa,"A blend of modernity and tradition, with bustl...",-22.533560,17.045478,short trip weekend one week,Mid-range,3,...,22.5,20.5,18.3,14.8,15.0,17.9,21.8,24.3,24.9,24.6
8,4e2d3678-bbb3-428e-a1df-0ba956ef3c77,Nafplio,Greece,europe,"Charming cobblestone streets, vibrant bougainv...",37.565923,22.806878,short trip weekend day trip,Mid-range,4,...,11.4,15.2,20.3,25.5,28.3,27.9,23.6,18.5,13.7,9.5

## *Budget filter*

In [10]:
def wrangling_budget(df):
    df["budget_level"] = [budget.lower() for budget in df["budget_level"].values]
    df["budget_level"] = df["budget_level"].replace({"budget": "economic"})
    return df

In [11]:
travel_df = wrangling_budget(travel_df)

### **Asking input for trip budget:**

In [12]:
budget = input("What is your budget for your trip: luxury, mid-range or economic?").lower()
if budget in ('luxury', 'mid-range', 'economic'):
    print(budget)
else:
    while budget not in ('luxury', 'mid-range', 'economic'):
        budget = input("Please enter one of the following values: luxury, mid-range or economic.")
    else:
        print(budget)

luxury

### **Filtering cities:**

In [13]:
filtered_cities_2 = [city_name for city_name, budgets in zip(travel_df["city"], travel_df["budget_level"]) if budget in budgets]

In [14]:
len(filtered_cities_2)

29

### **Filtered df:**

In [15]:
travel_df = travel_df[travel_df["budget_level"] == budget]

In [16]:
travel_df.head()

,id,city,country,region,short_description,latitude,longitude,ideal_durations,budget_level,culture,...,3.avg,4.avg,5.avg,6.avg,7.avg,8.avg,9.avg,10.avg,11.avg,12.avg
2,73036cda-9134-46fc-a2c6-807782d59dfb,Whistler,Canada,north_america,Snow-capped peaks and lush forests create a se...,50.117190,-122.954302,short trip weekend one week,luxury,3,...,0.2,4.6,9.0,14.1,18.2,17.8,14.5,7.6,1.8,-1.8
20,0d1ac2c5-e3d5-40b5-ad56-01f3d67710ab,Trondheim,Norway,europe,"Charming wooden houses, crisp Nordic air, and ...",63.430447,10.395212,short trip weekend one week,luxury,4,...,1.4,4.6,9.9,13.5,15.1,14.5,11.5,6.3,1.8,0.0
22,57239ab4-5376-4b81-a35e-fc8a27fb5812,Reykjavik,Iceland,europe,"Colorful rooftops, crisp sea air, and the allu...",64.145981,-21.942237,short trip one week weekend,luxury,3,...,1.6,4.3,6.9,9.7,11.6,11.2,8.6,5.5,2.7,0.4
61,61a3b6e3-f03f-42e4-b10d-80a3d1aec106,Hamilton,Bermuda,north_america,Charming streets lined with pastel buildings a...,32.294268,-64.785317,short trip weekend,luxury,3,...,18.5,19.9,22.3,25.0,27.2,28.0,27.0,24.6,21.8,19.8
73,f139e95f-1d18-40b9-a7f0-f8d908c05e53,Bergen,Norway,europe,"Charming waterfront views, colorful wooden hou...",60.394306,5.325919,weekend one week short trip,luxury,4,...,4.3,7.1,11.4,14.5,15.4,15.3,13.4,9.1,5.6,4.0

## *Month filter*

In [17]:
try:
    month = int(input("In which month of the year do you want to go on your trip? Please enter a number between 1 and 12."))
    if month in range(1,13):
        print(month)
    else:
        while month not in range(1,13):
            month = int(input("Please enter a number between 1 and 12."))
        else:
            print(month)
except ValueError:
    month = int(input("Please enter a valid number between 1 and 12."))
    while month not in range(1,13):
        month = int(input("Please enter a number between 1 and 12."))
    else:
        print(month)

8

### **Reducing dataframe to contain only the specific month of the trip:**

In [18]:
def remove_months(df):
    months = list(range(1,13))
    no_month_trip = [x for x in months if x != month]
    df = df.drop(columns=[str(x)+".avg" for x in no_month_trip])
    return df

In [19]:
travel_df = remove_months(travel_df)

In [20]:
travel_df.head(0)

Empty DataFrame
Columns: [id, city, country, region, short_description, latitude, longitude, ideal_durations, budget_level, culture, adventure, nature, beaches, nightlife, cuisine, wellness, urban, seclusion, 8.avg]
Index: []

### **Main interest input:**

In [21]:
interests = ["urban", "culture", "adventure", "nature", "beaches", "nightlife", "cuisine", "wellness", "seclusion"]
interests_input = input("Select up to three interests (if more than one, comma separated) among: culture, adventure, nature, beaches, nightlife, cuisine, wellness, urban and seclusion.").lower().split(", ")

In [22]:
interests_input

['culture']

In [23]:
travel_df = travel_df.sort_values(by = interests_input, ascending=False)

In [24]:
travel_df = pd.read_csv(file)

In [25]:
def wrangling(df):
    df["avg_temp_monthly"] = df["avg_temp_monthly"].apply(json.loads)
    temp_monthly = pd.json_normalize(df["avg_temp_monthly"])
    df = pd.concat([df.drop(columns=["avg_temp_monthly"]), temp_monthly], axis=1)
    
    for n in range(1,13):
        df.drop(columns=[(str(n)) + ".min", (str(n)) + ".max"], inplace=True)

    df["ideal_durations"] = df["ideal_durations"].apply(ast.literal_eval)
    df["ideal_durations"] = df["ideal_durations"].apply(lambda lst: ' '.join(item.strip() for item in lst))
    df["ideal_durations"] = [duration.lower() for duration in df["ideal_durations"].values]

    df["budget_level"] = [budget.lower() for budget in df["budget_level"].values]
    df["budget_level"] = df["budget_level"].replace({"budget": "economic"})
    
    return df

In [26]:
travel_df = wrangling(travel_df)

In [27]:
def remove_months(df):
    months = list(range(1,13))
    no_month_trip = [x for x in months if x != month]
    df = df.drop(columns=[str(x)+".avg" for x in no_month_trip])
    return df

In [28]:
def filter_df(travel_df):
    """This function will filter the dataset containing the information of 560 cities around the world to provide the user with a ranking based on their preferences."""

    # Valid inputs definition
    valid_durations = {"weekend", "short trip", "one week", "long trip"}
    valid_budgets = {"luxury", "mid-range", "economic"}
    valid_interests = ["urban", "culture", "adventure", "nature", "beaches", "nightlife", "cuisine", "wellness", "seclusion"]
    
    # Ideal duration input
    ideal_duration = input("How long do you want your trip to be: weekend, short trip, one week, or long trip? ").lower()
    while ideal_duration not in valid_durations:
        ideal_duration = input("Please enter one of the following values: weekend, short trip, one week, or long trip. ").lower()

    # Budget level input
    budget_level = input("What is your budget for your trip: luxury, mid-range, or economic? ").lower()
    while budget_level not in valid_budgets:
        budget_level = input("Please enter one of the following values: luxury, mid-range, or economic. ").lower()

    # Month of the trip input
    month = None
    while month not in range(1, 13):
        try:
            month = int(input("In which month of the year do you want to go on your trip? Please enter a number between 1 and 12. "))
        except ValueError:
            print("Please enter a valid number between 1 and 12.")

    # User main interest input
    while True:
        interests_input = input("Select up to three interests (if more than one, comma separated) among: culture, adventure, nature, beaches, nightlife, cuisine, wellness, urban, and seclusion: ").lower().split(", ")
        if all(interest in valid_interests for interest in interests_input) and len(interests_input) <= 3:
            break
        else:
            print("Invalid input. Please make sure to select up to three interests from the given options.")

    # Creating the filtered DataFrame
    try:
        filtered_df = travel_df[(travel_df["ideal_durations"].str.contains(ideal_duration, case=False)) & (travel_df["budget_level"] == budget_level)]

        # Filter out months if function exists
        if 'remove_months' in globals():
            filtered_df = remove_months(filtered_df)

        # Sort by interest columns; make sure column names exist in the DataFrame
        pd.set_option('display.max_colwidth', None)
        interest_columns = [col for col in interests_input if col in travel_df.columns]
        filtered_df = filtered_df.sort_values(by=interest_columns, ascending=False)
        
        # Drop columns
        filtered_df = filtered_df.drop(columns=["id", "region", "latitude", "longitude", "ideal_durations", "budget_level", "culture", "adventure",	"nature", "beaches", "nightlife", "cuisine", "wellness", "urban", "seclusion"], axis=1)
        
        # Show only top 5 cities
        filtered_df = filtered_df[:5]

        # Renaming average temperature month
        column_to_rename = f"{month}.avg"
    
        if column_to_rename not in filtered_df.columns:
            print(f"Column '{column_to_rename}' does not exist.")
        else:
            new_column_name = "avg_temperature(ºC)"
            filtered_df = filtered_df.rename(columns={column_to_rename: new_column_name})

        message = "Here are the top 5 cities where you could go according to your preferences: "

    except Exception as error:
        print(f"Error in filtering: {error}")

    return message, filtered_df

In [29]:
# Next steps for the 'app':

# >> OK 1. function to ask for the user input regarding user's city choice, where he'll be travelling from and on which day of the month
# >> OK 2. function to run Google Flights API and get flights -- major challenge: how to make the link between city name and airport code? --> OK
# 3. improve function API to handle when flights are not available from the dep city to the arrival city
# 4. function to get hotels if enough time

In [30]:
def get_airport_code(city_name, df):
    # Locate the city in the DataFrame
    result = df.loc[df['city'] == city_name, 'IATA']
    return result.iloc[0] if not result.empty else None

In [31]:
df_airports = pd.read_csv("/Users/laurasuemitsu/Desktop/DATA_FT_May_2025/Final project/Notebooks/airports_codes.csv")

In [32]:
def travel_details():
    while True:
        departure_city = input("Enter the departure city: ")
        departure_code = get_airport_code(departure_city, df_airports)
        if departure_code:
            break
        else:
            departure_city = print("No airport found in our database. Please enter another city. ")

    while True:
        arrival_city = input("Enter the arrival city: ")
        arrival_code = get_airport_code(arrival_city, df_airports)
        if arrival_code:
            break
        else:
            arrival_city = print("No airport found in our database. Please enter another city. ")

    date = input("Enter the departure date (YYYY-MM-DD): ")

    return departure_code, arrival_code, date

In [33]:
message, cities_df = filter_df(travel_df)
print(message)
display(cities_df)
travel_details()

Here are the top 5 cities where you could go according to your preferences:

,city,country,short_description,avg_temperature(ºC)
23,Seoul,South Korea,"A dynamic blend of futuristic skyscrapers and ancient palaces, bustling markets, and tranquil parks, creating an energetic yet harmonious urban experience.",27.0
40,Melbourne,Australia,"A vibrant mix of street art, diverse cuisine, and lively laneways create an atmosphere that's both exciting and warmly inviting.",10.6
57,Barcelona,Spain,"Vibrant streets filled with Gaudí's whimsical architecture, lively tapas bars, and the warm Mediterranean breeze create an inviting and dynamic atmosphere.",25.7
63,Shanghai,China,"Vibrant streets pulse with energy, blending futuristic skyscrapers with ancient temples, while enticing aromas from street food stalls fill the air.",30.0
108,Rome,Italy,"Ancient ruins stand proudly amidst bustling piazzas, where the aroma of fresh pasta and the echoes of street musicians fill the air.",26.3

('CDG', 'BCN', '2025-08-20')